body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding-bottom: 71px;
}

.animations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: flex-start;  */
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.animation-card {
  width: 60vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
}

.animation-card h3 {
  color: #333;
}

.btn {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #3d3a3a;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

iframe {
  width: 50vh;
  height: 40vh;
}

.pacman-loader {
  height: 39vh;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000 98%, #0000) 55% 20%/8px 8px
      no-repeat,
    #ffcc00;
  box-shadow: 2px -6px 12px 0px inset rgba(0, 0, 0, 0.7);
  animation: l4 0.5s infinite steps(5) alternate;
}
@keyframes l4 {
  0% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0,
      0 0,
      0 100%,
      100% 100%,
      100% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      100% 65%,
      100% 0,
      0 0,
      0 100%,
      100% 100%,
      100% 35%
    );
  }
}
